<h1>Admin::Dashboard#show</h1>

<div>
    <table>
        <thead>
            <th>Product count</th>
            <th>Category count</th>
        </thead>
        <tbody>
            <tr>
                <td><%= @products_count %></td>
                <td><%= @categories_count %></td>
            </tr>
        </tbody>
    </table>
</div>
